
/* Pictos */
.picto{background:url(../img/picto-ie8.png) no-repeat;}

.telephone{background-position-x:0; background-position-y: 0;}
.echange{background-position-x:-20px; background-position-y:0;}
.transport{background-position-x:-35px; background-position-y:0;}
.echange{background-position-x:-20px; background-position-y: 0;}
.transport{background-position-x:-35px; background-position-y: 0;}
.livre{background-position-x:0; background-position-y: -16px;}
.loupe{background-position-x:-29px; background-position-y: -16px;}
.agenda{background-position-x:-72px; background-position-y: -16px;}
.personnes{background-position-x:-116px; background-position-y: -16px;}
.paiement{background-position-x:-88px; background-position-y: 0;}
.contact-enveloppe{background-position-x:0; background-position-y: -57px;}
.contact-telephone{background-position-x:-59px; background-position-y: -57px;}
.contact-adresse{background-position-x:-116px; background-position-y: -57px;}
.nav-mobile{background-position-x:0px; background-position-y: -114px;}
.haut-page{background-position-x:-39px; background-position-y: -114px;}
.bt-plus{background-position-x:-73px; background-position-y: -114px;}

/* Margin Nul */
.margin-right-nul{margin-right:0!important;}


/* Header */
header .infos li{margin-right:8%;}
.photo{height: 403px;}

/* Footer */
footer .infos li{color:#6d6d6d;}

/* Les essentiels */
.col4{width:208px!important;}
.col4 img{width:208px!important;}

.contentTooltip{background:#6d6d6d;}
