.selected {background-color: #CFD8DC !important; color: white;}


/*
 * List projects
 * -------------------------------------------------- */
.projects{
    .projects{
        @at-root #{&}__list{display: flex; flex-wrap: wrap; justify-content: center; max-width: 1800px; margin: 1em auto;}
        @at-root #{&}__item{position: relative; overflow: hidden; text-align: center; cursor: pointer; background: linear-gradient(-45deg, #0e79b7 0%,#17123a 100%); margin: 1%; border: solid 1px #bababa; max-width: 22%;}
        @at-root #{&}__picture{transition: opacity 0.35s, transform 0.35s;}
        @at-root #{&}__projectButton{transition: opacity 0.35s, transform 0.35s;}
        @at-root #{&}__picture{display: block; min-height: 100%; max-width: 100%; opacity: 0.9;}
        @at-root #{&}__caption{transition: opacity 0.35s, transform 0.35s; box-sizing: border-box; position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 2.5em 0.5em; color: #ececed; backface-visibility: hidden; display: flex; flex-direction: column;
            &:after{pointer-events: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-top: 1px solid #ececed; border-bottom: 1px solid #ececed; content: ''; opacity: 0; transform: rotate3d(0,0,1,45deg) scale3d(1,0,1); transform-origin: 50% 50%;}
        }
        @at-root #{&}__projectDomains{display: flex; justify-content: center;}
        @at-root #{&}__domainItem{font-size: 300%; margin: 0 0.5em;}
        @at-root #{&}__projectButton{width: auto; padding: 0.5em 1.5em; font-size: 90%; background: #ff9a14; color: #ececed; border-radius: 10px; margin: 0; margin-top: auto; opacity: 1; transform: scale3d(0.8,0.8,1); opacity: 0;}
        @at-root #{&}__iconButton{margin-right: 0.5em;}
    }
    .projects__item:hover{
        .projects__picture{opacity: 0.4; transform: scale3d(1.05,1.05,1);}
        .projects__caption:after{opacity: 1; transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);}
        .projects__projectButton{opacity: 1; transform: scale3d(1,1,1);}
    }
}

@media (max-width: 860px) {
    .projects{
        .projects{
            @at-root #{&}__item{max-width: 30%;}
            @at-root #{&}__caption{padding: 1.5em 1em;}
            @at-root #{&}__domainItem{font-size: 200%;}
        }
    }
}

@media (max-width: 530px) {
    .projects{
        .projects{
            @at-root #{&}__item{max-width: 45%;}
            @at-root #{&}__caption{padding: 2em 1em;}
            @at-root #{&}__domainItem{font-size: 250%;}
        }
    }
}

@media (max-width: 420px) {
    .projects{
        .projects{
            @at-root #{&}__caption{padding: 1em;}
            @at-root #{&}__domainItem{font-size: 200%;}
            @at-root #{&}__projectButton{font-size: 0.8em; padding: 0.5em;}
            @at-root #{&}__iconButton{display: none;}
        }
    }
}

