<!--The content below is only a placeholder and can be replaced.-->
<h1>Projects</h1>
<div block="project">
    <ul elem="list">
        <li *ngFor="let project of projects" (click)="onSelect(project)" elem="item">
            <p elem="name">{{project.name}}</p>
            <img elem="picture" src="{{ project.thumbnail }}" alt="{{ project.name }}">
            <button elem="button" (click)="gotoDetails()">View Details</button>
        </li><!-- / .project__item -->
    </ul><!-- / .project__list -->
</div><!-- / .project -->