.selected {background-color: #CFD8DC !important; color: white;}


/*
 * List projects
 * -------------------------------------------------- */
.projects{
    .projects{
        @at-root #{&}__list{display: flex; flex-wrap: wrap; justify-content: center; max-width: 1800px; margin: 0 auto;}
        @at-root #{&}__item{position: relative; overflow: hidden; text-align: center; cursor: pointer; max-width: 25%;}
        @at-root #{&}__item_plateforme-de-formation{background: #253446;}
        @at-root #{&}__item_akka-ds{background: #E2E8ED;}
        @at-root #{&}__item_akka-ds-backoffice{background: #D36D32;}
        @at-root #{&}__item_g2s{background: #445665;}
        @at-root #{&}__item_akka-technologies{background: #445665;}
        @at-root #{&}__item_digital-learning-path{background: #CBD1D5;}
        @at-root #{&}__item_bms-point-for-contact{background: #05265F;}
        @at-root #{&}__item_ram{background: #D36D32;}
        @at-root #{&}__item_plateforme-intervention{background: #0D1218;}
        @at-root #{&}__item_akka-aeronews{background: #DEE3E8;}
        @at-root #{&}__item_akka-emailing{background: #CED2D7;}
        @at-root #{&}__item_dynamic-art{background: #1960BA;}
        @at-root #{&}__item_sinistrapp{background: #D8CE56;}
        @at-root #{&}__item_meubles-gontier{background: #9EA2A7;}
        @at-root #{&}__item_interieurs-gontier{background: #090E13;}
        @at-root #{&}__item_joaillerie-mauger{background: #30488E;}
        @at-root #{&}__item_annuaire-de-ville{background: #E7DA6A;}
        @at-root #{&}__item_tennis-club-des-loges{background: #2794CD;}
        @at-root #{&}__item_capitaine-house{background: #845B9B;}
        @at-root #{&}__item_lm2e{background: #1C99B4;}
        @at-root #{&}__item_les-jardins-de-la-vieille-fontaine{background: #AFA493;}
        @at-root #{&}__item_art-du-feu{background: #CA4422;}
        @at-root #{&}__item_chocolats-vilas-boas{background: #2C1F19;}
        @at-root #{&}__item_my-3D-factory{background: #E8ECF1;}
        @at-root #{&}__item_sepale{background: #56849E;}
        @at-root #{&}__item_easy-cook{background: #468A82;}
        @at-root #{&}__item_centre-wagram{background: #10375D;}
        @at-root #{&}__item_jeff-photographe{background: #031237;}
        @at-root #{&}__item_pp-from-longwy{background: #CF1561;}
        @at-root #{&}__item_tim-and-kim{background: #8E099F;}
        @at-root #{&}__item_djula{background: #03060C;}
        @at-root #{&}__item_hpc{background: #4D4A97;}
        @at-root #{&}__item_referencement-top-10{background: #4897C8;}
        @at-root #{&}__item_video-therapie{background: #BFA269;}
        @at-root #{&}__item_soun-collection{background: #232629;}
        @at-root #{&}__itemFig{background: linear-gradient(-45deg, #0e79b7 0%,#17123a 100%); overflow: hidden; border: solid 1px #bababa; }
        @at-root #{&}__picture{transition: opacity 0.35s, transform 0.35s;}
        @at-root #{&}__projectButton{transition: opacity 0.35s, transform 0.35s;}
        @at-root #{&}__picture{display: block; min-height: 100%; max-width: 100%; opacity: 0.9;}
        @at-root #{&}__caption{transition: opacity 0.35s, transform 0.35s; box-sizing: border-box; position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 2.5em 0.5em; color: #ececed; backface-visibility: hidden; display: flex; flex-direction: column;
            &:after{pointer-events: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-top: 1px solid #ececed; border-bottom: 1px solid #ececed; content: ''; opacity: 0; transform: rotate3d(0,0,1,45deg) scale3d(1,0,1); transform-origin: 50% 50%;}
        }
        @at-root #{&}__projectDomains{display: flex; justify-content: center;}
        @at-root #{&}__domainItem{font-size: 300%; margin: 0 0.5em;}
        @at-root #{&}__projectButton{width: auto; padding: 0.5em 1.5em; font-size: 90%; background: #ff9a14; color: #ececed; border-radius: 10px; margin: 0; margin-top: auto; opacity: 1; transform: scale3d(0.8,0.8,1); opacity: 0;}
        @at-root #{&}__iconButton{margin-right: 0.5em;}
    }
    .projects__item:hover{
        .projects__picture{opacity: 0.4; transform: scale3d(1.05,1.05,1);}
        .projects__caption:after{opacity: 1; transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);}
        .projects__projectButton{opacity: 1; transform: scale3d(1,1,1);}
    }
}

@media (max-width: 860px) {
    .projects{
        .projects{
            @at-root #{&}__item{max-width: 33.3%;}
            @at-root #{&}__caption{padding: 1.5em 1em;}
            @at-root #{&}__domainItem{font-size: 200%;}
        }
    }
}

@media (max-width: 530px) {
    .projects{
        .projects{
            @at-root #{&}__item{max-width: 50%;}
            @at-root #{&}__caption{padding: 2em 1em;}
            @at-root #{&}__domainItem{font-size: 250%;}
        }
    }
}

@media (max-width: 420px) {
    .projects{
        .projects{
            @at-root #{&}__caption{padding: 1em;}
            @at-root #{&}__domainItem{font-size: 200%;}
            @at-root #{&}__projectButton{font-size: 0.8em; padding: 0.5em;}
            @at-root #{&}__iconButton{display: none;}
        }
    }
}

