<div *ngIf="project" block="projectDetails" class="projectDetails">
    <div elem="pictureBlock" class="projectDetails__pictureBlock">
        <picture >
            <source media="(min-width: 800px)" srcset="/assets/images/projects/{{ project.image }}_@1600.png">
            <source media="(min-width: 400px)" srcset="/assets/images/projects/{{ project.image }}_@1600.png">
            <source media="(min-width: 200px)" srcset="/assets/images/projects/{{ project.image }}_@400.png">
            <img elem="image" class="projectDetails__image" src="/assets/images/projects/{{ project.image }}_@800.png" alt="{{ project.name }}">
        </picture>
    </div><!-- / .projectDetails__pictureBlock -->
    <div elem="textPart" class="projectDetails__textPart">
        <h2 elem="title" class="projectDetails__title">{{ project.name }}</h2>
        <p elem="subTitle" class="projectDetails__subTitle">{{ project.subTitle }}</p>
        <p [innerHTML]="project.description" elem="description" class="projectDetails__description">{{ project.description }}</p>
        <p elem="titleIntervention" class="projectDetails__titleIntervention">Intervention</p>
        <p [innerHTML]="project.intervention" elem="intervention" class="projectDetails__intervention">{{ project.intervention }}</p>
        <ul elem="projectDomains" class="projectDetails__projectDomains">
            <li *ngFor="let domain of project.domains" class="projectDetails__domainItem" elem="domainItem"><i class="icon__{{ domain }} projectDetails__domainIcon"></i>{{ domain }}</li>
        </ul>
        <a *ngIf="project.linkToProject" href="{{ project.linkToProject }}" target="_blank" class="button projectDetails__button" elem="button"><i class="icon__link projectDetails__iconLink"></i>Lien vers le projet</a>
    </div><!-- / .projectDetails__textPart -->
</div><!-- / .projectDetails -->


<div block="projectNav" class="projectNav">
    <p><button (click)="goBack()">Back</button></p>
</div><!-- / .projectNav -->




