<h1>Présentaiton</h1>
<div>
    <p>Motivée • Dynamique • Souriante • Ponctuelle • Sérieuse • Appliquée • Organisée • À l'écoute</p>
    <h3>Diplômes</h3>
    <ul>
        <li>Master Expert en stratégie digitale - Titre certifié de niveau I, mention très bien</li>
        <li>Licence en édition et communication numérique - Titre certifié de niveau II "Chef de projet multimédia", mention très bien</li>
        <li>OPQUAST - Qualité Web - Bonnes pratiques et obtenu le score de 815 points sur 1000</li>
        <li>Cambridge English Certificate, Niveau B1</li>
    </ul>
    <h3>Loisirs</h3>
    <p>Pratique du tennis en compétition (meilleur classement 0). Membre du tennis club des Loges, Saint Germain en Laye (78) et joueuse en équipe 1 qui se trouve actuellement en National 4.</p>
    <p>Grande lectrice, papier et ebook : Thriller, Roman, Suspens, Histoire de vie...</p>
    <p>Créative, j'aime les travaux manuels : peinture, modélisme, bracelets brésiliens...</p>
</div>