<div block="presentation" >
    <p elem="adjectifs">Motivée • Dynamique • Souriante • Ponctuelle • Sérieuse • Appliquée • Organisée • À l'écoute</p>
    <div elem="content">
        <div elem="textBlock">
            <h3 elem="title">Diplômes</h3>
            <ul elem="diplomaList">
                <li elem="diplomaItem">Master Expert en stratégie digitale - Titre certifié de niveau I, <span elem="important">mention très bien</span></li>
                <li elem="diplomaItem">Licence en édition et communication numérique - Titre certifié de niveau II "Chef de projet multimédia", <span elem="important">mention très bien</span></li>
                <li elem="diplomaItem">OPQUAST - Qualité Web - Bonnes pratiques et obtenu le score de <span elem="important">815 points sur 1000</span></li>
                <li elem="diplomaItem">Cambridge English Certificate, Niveau B1</li>
            </ul><!-- / .presentation__diplomaList -->
            <h3 elem="title">Loisirs</h3>
            <p elem="text">Pratique du <span elem="important">tennis en compétition</span> (meilleur classement 0). Membre du tennis club des Loges, Saint Germain en Laye (78) et joueuse en équipe 1 qui se trouve actuellement en National 4.</p>
            <p elem="text"><span elem="important">Grande lectrice</span>, papier et ebook : Thriller, Roman, Suspens, Histoire de vie...</p>
            <p elem="text"><span elem="important">Créative</span>, j'aime les travaux manuels : peinture, modélisme, bracelets brésiliens...</p>
            <p elem="contact">samantha.potier<span elem="at">at</span>gmail.com</p>
        </div>
        <img class="picture" src="/assets/images/samanthaPotier.png" alt="Samantha Potier">
    </div><!-- / .presentation__content -->
</div><!-- .presentation -->