<header>
    <div>
        <a routerLink="/accueil" title="Accueil Samantha Potier">
            Logo
            <h1>Samantha Potier</h1>
            <h2>Gestion de projet multimédia<br>Développeur Front-End • UX/UI Designer</h2>
        </a>
    </div>
    <nav>
        <ul>
            <li><a routerLink="/accueil" routerLinkActive="current" title="Accueil Samantha Potier">Accueil</a></li>
            <li><a routerLink="/projets" routerLinkActive="current" title="Projets">Projets</a></li>
            <li><a routerLink="/parcours" routerLinkActive="current" title="Parcours">Parcours</a></li>
            <li><a routerLink="/presentation" routerLinkActive="current" title="Présentation">Présentation</a></li>
        </ul>
    </nav>
</header>
<router-outlet></router-outlet>

<footer block="footer">
    <section elem="top">
        <div>
            <p>Retrouvez-moi sur : <a href="http://fr.linkedin.com/pub/samantha-potier/58/734/11b" title="Lien vers la page profil LinkedIn de Samantha Potier" target="_blank"><i class="icon__"></i></a><a href="http://fr.viadeo.com/fr/profile/samantha.potier1" title="Lien vers la page profil Viadeo de Samantha Potier" target="_blank" ><i class="icon__twitter footer__icon"></i></a></p>
            <p><a routerLink="/presentation" title="Mentions légales">Mentions légales</a></p>
        </div>
    </section>
    <section>
        <div>
            <p>©Samantha Potier 2011 - {{ today | date:'yyyy' }}</p>
        </div>
    </section>
</footer>