<nav class="header__nav_nav">
    <ul class="header__nav_container">
        <li class="header__nav_item"><a routerLink="/accueil" routerLinkActive="current" title="Accueil Samantha Potier" class="header__nav_link">Accueil</a></li>
        <li class="header__nav_item"><a routerLink="/projets" routerLinkActive="current" title="Projets" class="header__nav_link">Projets</a></li>
        <li class="header__nav_item"><a routerLink="/parcours" routerLinkActive="current" title="Parcours" class="header__nav_link">Parcours</a></li>
        <li class="header__nav_item"><a routerLink="/presentation" routerLinkActive="current" title="Présentation" class="header__nav_link">Présentation</a></li>
    </ul><!-- / .header__nav_container -->
</nav><!-- / .header__nav_nav -->
<router-outlet></router-outlet>