<div class="sidebar" [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }">
  <div class="sidebar-header">
    <a href="#" class="sidebar-logo">{{
      isSidebarCollapsed ? 'C' : 'CodeWithChintan'
    }}</a>
  </div>
  <div class="sidebar-menu">
    <ul>
      <ng-container *ngFor="let item of menuItems">
        <li class="sidebar-menu-item">
          <a
            href="#"
            class="sidebar-item"
            [ngClass]="{
              'has-children': item.children,
              'menu-item-active': item.isOpen
            }"
            (click)="toggleMenuItem(item)"
          >
            <i [class]="item.icon"></i>
            <span class="sidebar-item-text">{{ item.label }}</span>
            <i
              *ngIf="item.children && !isSidebarCollapsed"
              class="fas fa-chevron-down sidebar-item-arrow"
              [ngClass]="{ rotated: item.isOpen }"
            ></i>
          </a>

          <ul
            *ngIf="item.children && !isSidebarCollapsed && item.isOpen"
            class="sidebar-submenu"
          >
            <li *ngFor="let child of item.children">
              <a href="#" class="sidebar-item sidebar-subitem">
                <i [class]="child.icon"></i>
                <span class="sidebar-item-text">{{ child.label }}</span>
              </a>
            </li>
          </ul>
        </li>
      </ng-container>
    </ul>
  </div>
</div>

<!-- 
<div elem="menuContent">
            <nav closeSidebar block="navSidebar">
                <ul elem="list">
                    <li elem="item"><a elem="link" routerLink="/accueil" (click)="setTitle( 'Samantha Potier - Gestion de projet multimédia, Développement et Webdesign UX - Freelance - Yvelines' )" routerLinkActive="current" title="Accueil Samantha Potier">Accueil</a></li>
                    <li elem="item"><a elem="link" routerLink="/projets" (click)="setTitle( 'Samantha Potier | Projets - Gestion de projet multimédia, Développement et Webdesign UX' )" routerLinkActive="current" title="Projets">Projets</a></li>
                    <li elem="item"><a elem="link" routerLink="/parcours" (click)="setTitle( 'Samantha Potier | Parcours - Gestion de projet multimédia, Développement et Webdesign UX' )" routerLinkActive="current" title="Parcours">Parcours</a></li>
                    <li elem="item"><a elem="link" routerLink="/presentation" (click)="setTitle( 'Samantha Potier | Présentation - Gestion de projet multimédia, Développement et Webdesign UX' )" routerLinkActive="current" title="Présentation">Présentation</a></li>
                </ul>
            </nav>
            <ul closeSidebar block="contactMe">
                <li elem="item"><a routerLink="/presentation" elem="link"><i class="icon__contact"></i></a></li>
                <li elem="item"><a href="http://fr.linkedin.com/pub/samantha-potier/58/734/11b" title="Lien vers la page profil LinkedIn de Samantha Potier" target="_blank" elem="link"><i class="icon__linkedin"></i></a></li>
                <li elem="item"><a href="https://twitter.com/SamPotier" title="Lien vers la page profil Twitter de Samantha Potier" target="_blank" elem="link"><i class="icon__twitter"></i></a></li>
            </ul>
            <p elem="download"><a href="/assets/documents/cv_samanthaPotier.pdf" target="_self" download="CV Samantha Potier.pdf" elem="downloadLink"><i elem="icon" class="icon__seeproject"></i>Télécharger le C.V.</a></p>
        </div> -->