/*
 * Font Face
 * -------------------------------------------------- */
@font-face {font-family: 'mulilight';
    src: url('/assets/fonts/muli-light-webfont.eot');
    src: url('/assets/fonts/muli-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/muli-light-webfont.woff2') format('woff2'),
         url('/assets/fonts/muli-light-webfont.woff') format('woff'),
         url('/assets/fonts/muli-light-webfont.ttf') format('truetype'),
         url('/assets/fonts/muli-light-webfont.svg#mulilight') format('svg');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'originextra_bold';
    src: url('/assets/fonts/origin-extrabold-webfont.eot');
    src: url('/assets/fonts/origin-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/origin-extrabold-webfont.woff2') format('woff2'),
         url('/assets/fonts/origin-extrabold-webfont.woff') format('woff'),
         url('/assets/fonts/origin-extrabold-webfont.ttf') format('truetype'),
         url('/assets/fonts/origin-extrabold-webfont.svg#originextra_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'icomoon';
    src:url('/assets/fonts/icomoon.eot?bjgag6');
    src:url('/assets/fonts/icomoon.eot?bjgag6#iefix') format('embedded-opentype'),
        url('/assets/fonts/icomoon.woff?bjgag6') format('woff'),
        url('/assets/fonts/icomoon.ttf?bjgag6') format('truetype'),
        url('/assets/fonts/icomoon.svg?bjgag6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;}
    
[class^="icon__"], [class*=" icon__"]{
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon__application:before{content: "\e612";}
.icon__arrowBack:before{content: "\e900";}
.icon__close:before{content: "\e600";}
.icon__contact:before{content: "\e601";}
.icon__dev:before{content: "\e602";}
.icon__graphism:before{content: "\e603";}
.icon__identity:before{content: "\e604";}
.icon__link:before{content: "\e605";}
.icon__linkedin:before{content: "\e606";}
.icon__management:before{content: "\e607";}
.icon__menu:before{content: "\e611";}
.icon__newsletter:before{content: "\e608";}
.icon__next:before{content: "\e609";}
.icon__nextslider:before{content: "\e60f";}
.icon__prev:before{content: "\e60a";}
.icon__prevslider:before{content: "\e610";}
.icon__responsive:before{content: "\e60b";}
.icon__seeproject:before{content: "\e60c";}
.icon__twitter:before{content: "\e901";}
.icon__viadeo:before{content: "\e60d";}
.icon__web:before{content: "\e60e";}
