[class*="__title"],
[class*="__subTitle"]{font-family: 'originextra_bold', Helvetica, Arial, sans-serif; letter-spacing: 0.1em; line-height: 1.8em;}
.myApp{background: url("/assets/images/bg.jpg") repeat; background-size: 50%; font-family: 'mulilight', Helvetica, Arial, sans-serif; color: #454545; font-size: 18px; line-height: 1.5em;}
ng-sidebar-container{height: 100vh!important;}
.sidebarContent{min-height: 100vh; display: flex; flex-direction: column;}

button{border: none; background: none; font-family: "mulilight", Helvetica, Arial, sans-serif;
    &:focus{outline-width: 0;}
}

a:hover{color: #ff9a14;}
*{transition: all 0.5s;
    &:focus{outline-width: 0;}
}

[class*="__innerContent"]{max-width: 1800px; margin: 0 auto;}

@media (max-width:1024px) {
    [class*="__innerContent"]{padding-left: 1em; padding-right: 1em;}
}