<h1>Home Page</h1>
<div>
    <ul>
        <li><a *ngFor="let project of projects" [routerLink]="['/projets', project.id]">{{project.name}}</a></li>
    </ul>
</div><!-- / .slider -->
<div block="home">
    <div elem="sectionMa" mod="hello">
        <h2 class="home__title"><i class="icon__"></i>Gestion de projet multimédia</h2>
        <ul>
            <li>Cahier des charges fonctionnels et techniques</li>
            <li>Planning</li>
            <li>Budget</li>
            <li>Qualité Web : Opquast</li>
        </ul>
    </div>
    <div>
        <h2><i class="icon__"></i>Développement</h2>
        <ul>
            <li>HTML5 / CC3</li>
            <li>jQuery</li>
            <li>Responsive</li>
            <li>Angular</li>
            <li>Référencement naturel</li>
        </ul>
    </div>
    <div>
        <h2><i class="icon__"></i>Interface</h2>
        <ul>
            <li>Ergonomie</li>
            <li>UI / UX Design</li>
            <li>Architecture de l'information</li>
            <li>Responsive Design : Web, Tablette et Mobile</li>
        </ul>
    </div>
</div>