<!-- <ngx-carousel block="carousel"
    [inputs]="carouselOne"
    (carouselLoad)="myfunc($event)">
    *ngIf="project.slider =='true'"
    <ngx-item NgxCarouselItem *ngFor="let project of projects">
        <div elem="item">
            <div elem="textPart">
                <p elem="title">{{project.name}}</p>
                <ul elem="projectSectors">
                    <li *ngFor="let sector of project.sectors" elem="sectorItem"><i class="icon__{{ sector }} carousel__sectorIcon"></i>{{ sector }}</li>
                </ul>
                <a elem="button" [routerLink]="['/projets', project.id]"><i elem="iconButton" class="icon__seeproject"></i>Voir le projet</a>
            </div>
            <div elem="picturePart">
                <picture elem="picture">
                    <source media="(min-width: 200px)" srcset="/assets/images/projects/{{ project.image }}_@1600.png">
                    <img elem="image" src="/assets/images/projects/{{ project.image }}_@800.png" alt="{{ project.name }}">
                </picture>
            </div>
        </div>
    </ngx-item>

    
    <button NgxCarouselPrev elem="nav" mod="left"><i elem="icon" class="icon__prevslider"></i></button>
    <button NgxCarouselNext elem="nav" mod="right"><i elem="icon" class="icon__nextslider"></i></button>
</ngx-carousel> -->

<!-- <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="carouselTileItems">
  <ngu-tile *nguCarouselDef="let item; let i = index">

    <ngu-carousel #myCarousel [inputs]="carouselTile" (carouselLoad)="carouselTileLoad(i)" [dataSource]="carouselTiles[i]">
      <ngu-tile *nguCarouselDef="let item; let j = index">
        <div class="tile" [style.background]="'url(' + item + ')'" style="min-height: 200px">
          <h1>{{j}}</h1>
        </div>
      </ngu-tile>
      <button NguCarouselPrev class="leftRs" [style.opacity]="myCarousel.isFirst() ? 0.5:1">&lt;</button>
      <button NguCarouselNext class="rightRs" [style.opacity]="myCarousel.isLast() ? 0.5:1">&gt;</button>
      <ul class="myPoint" NguCarouselPoint>
        <li *ngFor="let j of myCarousel.pointNumbers(); let j = index" [class.active]="j==myCarousel.activePoint()" (click)="myCarousel.moveTo(j)"
          [style.background]="'url(' + carouselTileItems[j] + ')'"></li>
      </ul>
    </ngu-carousel>

  </ngu-tile>
  <button NguCarouselPrev class="leftRs" [style.opacity]="myCarousel.isFirst() ? 0.5:1">&lt;</button>
  <button NguCarouselNext class="rightRs" [style.opacity]="myCarousel.isLast() ? 0.5:1">&gt;</button>
  <ul class="myPoint" NguCarouselPoint>
    <li *ngFor="let i of myCarousel.pointNumbers(); let i = index" [class.active]="i==myCarousel.activePoint()" (click)="myCarousel.moveTo(i)"
      [style.background]="'url(' + carouselTileItems[i] + ')'"></li>
  </ul>
</ngu-carousel>
 -->
<div class="__innerContent">
    <div block="doing">
        <div elem="sector">
            <h2 elem="title"><i elem="icon" class="icon__management"></i>Gestion de projet multimédia</h2>
            <ul elem="list">
                <li elem="item">Cahier des charges fonctionnels et techniques</li>
                <li elem="item">Agilité / Jira</li>
                <li elem="item">Planning</li>
                <li elem="item">Budget</li>
                <li elem="item">Formation client</li>
                <li elem="item">Qualité Web : Opquast</li>
            </ul><!-- / .doing__list -->
        </div><!-- / .doing__sector -->
        <div elem="sector">
            <h2 elem="title"><i elem="icon" class="icon__developpement"></i>Développement</h2>
            <ul elem="list">
                <li elem="item">HTML5 / CC3</li>
                <li elem="item">Twig</li>
                <li elem="item">jQuery</li>
                <li elem="item">Responsive</li>
                <li elem="item">Angular</li>
                <li elem="item">Référencement naturel</li>
            </ul><!-- / .doing__list -->
        </div><!-- / .doing__sector -->
        <div elem="sector">
            <h2 elem="title"><i elem="icon" class="icon__graphisme"></i>Interface</h2>
            <ul elem="list">
                <li elem="item">Lean UX / Agile cycle</li>
                <li elem="item">Ateliers UX avec utilisateurs finaux</li>
                <li elem="item">Ergonomie / Architecture de l'information</li>
                <li elem="item">Wireframes interactifs</li>
                <li elem="item">UI / GUI (Graphical User Interface)</li>
                <li elem="item">Responsive Design : Web, Tablette et Mobile</li>
            </ul><!-- / .doing__list -->
        </div><!-- / .doing__sector -->
    </div><!-- / .doing -->
</div>